# Título

In [52]:
import pandas as pd
#import sklearn # instalar desde terminal
import numpy
import random

In [53]:
random.randint?

In [56]:
random.randint(2,10)

3

In [65]:
random.seed(1)
random.randint(2,10)

4

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [8]:
1

1

In [9]:
1.2

1.2

In [12]:
0.1 + 0.2

0.30000000000000004

In [13]:
0.1 + 0.3

0.4

In [6]:
"hola"

'hola'

In [14]:
'hola'

'hola'

In [16]:
"""asdasd
asdasd
asdasdasd
asd"""

'asdasd\nasdasd\nasdasdasd\nasd'

In [17]:
'''asdasdkla
sdals
dañsñd
'''

'asdasdkla\nsdals\ndañsñd\n'

In [18]:
[1,2,"hellow"]

[1, 2, 'hellow']

In [20]:
[1,2,"hellow",['asd',3],[{}]]

[1, 2, 'hellow', ['asd', 3], [{}]]

In [21]:
{3,4,"si"} #tupla no editable... mejor usar lista

{3, 4, 'si'}

In [23]:
{"valor1":1,"valor2":2}

{'valor1': 1, 'valor2': 2}

In [24]:
{"valor1":1,"valor2":2}["valor1"]

1

In [27]:
{"valor1":1,"valor2":[1,2,3,4]}["valor2"][-1]

4

In [29]:
{"valor1":1,"valor2":[1,2,3,4]}.get("valor2")

[1, 2, 3, 4]

In [31]:
{"valor1":1,"valor2":[1,2,3,4]}.get("valor3")

In [32]:
diccionario = {"valor1":1,"valor2":[1,2,3,4]}

In [33]:
diccionario.values?

In [39]:
def hola(a,b,c=10):
    """ Esta es una función que devuelve una suma
    Variables que recibe:
    a: Valor 1 a sumar
    
    Returns la suma de los valores"""
    return a + b + c

In [40]:
hola(1,23)

34

In [41]:
hola?

# Ciclos

Buenas prácticas: evitar ciclo while

In [42]:
for i in [1,2,3,4]:
    if i == 2:
        continue
    print(i)

1
3
4

In [43]:
for i in [1,2,3,4]:
    if i == 2:
        break
    print(i)

1

- se puede hacer una lista con un for dentro de la declaración de la misma

- Esto es  lo que se conoce como list comprehension

In [46]:
[i for i in range(50)] #list comprehension ... lo que hace muy fuerte a python

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [48]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
{i: i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [66]:
numpy.array([1,2,3]) ### los array de numpy son como matrices unidimensionales

array([1, 2, 3])

In [69]:
df = pd.DataFrame({"columna1":[1,2,3,4], "columna2": ["a","b","c",None]}) #se inicializa con diccionarios

In [71]:
df["columna1"]  # se accede como un diccionario y cada columna es una serie

0    1
1    2
2    3
3    4
Name: columna1, dtype: int64

In [72]:
df.transpose()

          0  1  2     3
columna1  1  2  3     4
columna2  a  b  c  None

In [73]:
df["columna1"].sum()

10

In [74]:
df.loc[0]

columna1    1
columna2    a
Name: 0, dtype: object

In [75]:
df.loc[[0,1]]

   columna1 columna2
0         1        a
1         2        b

In [76]:
df["columna1"] <= 3

0     True
1     True
2     True
3    False
Name: columna1, dtype: bool

In [77]:
df["columna1"] **2

0     1
1     4
2     9
3    16
Name: columna1, dtype: int64

In [78]:
valores_menores_a_3 =df["columna1"] <= 3

In [105]:
valores_menores_a_3

0     True
1     True
2     True
3    False
Name: columna1, dtype: bool

In [106]:
df.loc[valores_menores_a_3]

columna1    3
columna2    c
Name: 2, dtype: object

In [80]:
df.loc[valores_menores_a_3,"columna2"]

0    a
1    b
2    c
Name: columna2, dtype: object

In [81]:
df["columna2"].apply(lambda x:"hola" if x == "b" else 6)

0       6
1    hola
2       6
3       6
Name: columna2, dtype: object

In [83]:
df

   columna1 columna2
0         1        a
1         2        b
2         3        c
3         4     None

In [84]:
def f1():
    return "algo"

In [85]:
df["columna2"].apply(lambda x: f1() if x == "b" else 6)

0       6
1    algo
2       6
3       6
Name: columna2, dtype: object

In [87]:
df.groupby("columna1")

In [88]:
df.groupby("columna1").sum()

         columna2
columna1
1               a
2               b
3               c
4               0

In [90]:
inversion_inicial = 130000
inversion_mensual = 10000
tasa_interes = 0.05
# Al mes 30 empieza a haber gastos
gastos_mensuales = 40000
# simulacion hasta el mes 60

In [ ]:
def monto_acum(mes_i):
    if mes_i == 0:
        return inversion_inicial
    else if mes_i < 30:
        return numpy.power((inversion_inicial + inversion_mensual*(mes_i-1)), mes_i)
    else:
        return numpy.power((numpy.power((inversion_inicial + inversion_mensual*(mes_i-1)), 30) +())

In [95]:
def monto_mes(monto_prev, mes_i):
    if mes_i == 0:
        return inversion_inicial
    if mes_i < 30:
        return monto_prev*(1 + tasa_interes) + inversion_mensual
    else:
        return monto_prev*(1 + tasa_interes) + inversion_mensual - gastos_mensuales

In [96]:
meses=[i for i in range(61)]
meses

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60]

In [97]:
df_inv=pd.DataFrame({"meses":meses})

In [100]:
df_inv["monto_mens"]=0

In [101]:
df_inv

    meses  monto_mens
0       0           0
1       1           0
2       2           0
3       3           0
4       4           0
5       5           0
6       6           0
7       7           0
8       8           0
9       9           0
10     10           0
11     11           0
12     12           0
13     13           0
14     14           0
15     15           0
16     16           0
17     17           0
18     18           0
19     19           0
20     20           0
21     21           0
22     22           0
23     23           0
24     24           0
25     25           0
26     26           0
27     27           0
28     28           0
29     29           0
..    ...         ...
31     31           0
32     32           0
33     33           0
34     34           0
35     35           0
36     36           0
37     37           0
38     38           0
39     39           0
40     40           0
41     41           0
42     42           0
43     43           0
44     44           0
45     45           0
46     46           0
47     47           0
48     48           0
49     49           0
50     50           0
51     51           0
52     52           0
53     53           0
54     54           0
55     55           0
56     56           0
57     57           0
58     58           0
59     59           0
60     60           0

[61 rows x 2 columns]

In [103]:
meses_inversion=df_inv["meses"] >0

In [104]:
df_inv.loc[meses_inversion ,"monto_mens"]

1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
60    0
Name: monto_mens, dtype: int64

In [ ]:
for i in df_inv.loc[meses_inversion] df_inv.loc[ ,"monto_mens"] = monto_mes()

In [ ]:
df.loc[df["columna1"] <= 3,"columna2"]

In [109]:
meses_i=[i for i in range(60)]

In [110]:
meses_i

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59]